
.App {
  text-align: center;
}

.App-logo {
  margin-top: 20px;
  height: 120px;
}

.icon {
  width: 40px;
  height: 40px;
  margin: 10px;
}
.main-content {
  position: absolute;
  top: 300px;
  width: 100%;
}

p {
  width: 80%;
  margin: 0 auto;
}

h3 h4 {

}

.picture {
  position: absolute;
  top: 0;
  height: 300px;
  width: 100%;
  background-color: lightgrey;
}
@media (min-width: 750px) {
  .main-content {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 60%;
  }
  .picture {
    position: absolute;
    right: 0;
    height: 100%;
    width: 40%;
    background-color: lightgrey;
  }
}
