body {
  margin: 0;
  padding: 0;
  font-family: 'Assistant', sans-serif;
  min-width: 380px;
  height: 100%;
  text-align: center;
}

.App-logo {
  margin-top: 20px;
  max-height: 100px;
  width: 80%;
}

.icon {
  width: 30px;
  height: 30px;
  margin: 7px;
}

.icon:hover, .color-diary:hover {
  cursor: pointer;
}

.color-diary {
  width: 170px;
  height: 50px;
  margin: 0 auto;
}

.color-box {
  width: 30px;
  height: 30px;
  float: left;
  margin: 10px 0 0 10px; 
  background-color: lightgrey;
}

.color-diary:hover .blue {
  background-color: #8181FC;
}

.color-diary:hover .green {
  background-color: #6CB1BC;
}

.color-diary:hover .yellow {
  background-color: #F2B451;
}

.color-diary:hover .red {
  background-color: #E55C5C;
}

.main-content {
  position: absolute;
  top: 220px;
  width: 100%;
}

p {
  width: 80%;
  margin: 0 auto;
  font-size: 14px;
}

h4 {
  font-weight: 100;
  word-spacing: 5px;
  letter-spacing: 2px;
  color:  #999966;
  font-size: 12px;
}

.picture {
  position: absolute;
  top: 0;
  height: 220px;
  width: 100%;
  background-image:url('./assets/forest.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 500px) {
  .App-logo {
    margin-top: 20px;
    height: 100px;
    margin-right: 12px;
  }
  h4 {
    font-size: 16px;
  }

  .icon {
    width: 40px;
    height: 40px;
    margin: 10px;
  }

}

@media (min-width: 750px) {
  .main-content {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 60%;
  }
  .picture {
    position: fixed;
    right: 0;
    height: 100%;
    width: 40%;
    background-color: lightgrey;
  }
}
